* {
  box-sizing: border-box;
}

body {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #1c0527 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  min-height: 100vh;
}

input {
  background-color: #572b49;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  margin-bottom: 2rem;
}

input::placeholder {
  color: #bbb;
}

input:focus {
  outline: none;
}

.card {
  background-color: #522745;
  background-image: linear-gradient(326deg, #572b49 0%, #5f0a87 100%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 800px;
  padding: 3rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #370c4b;
  height: 150px;
  width: 100px;
}

.user-info {
  color: #ddd;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 300px;
  list-style-type: none;
}

.user_info ul li {
  display: flex;
  align-items: center;
}

.user_info ul strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  background-color: #522745;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
